################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/P3Database/P3Database.dbmdl
/P3Database/P3Database.jfm
