@{
    ViewData["Title"] = "HR Error";
}
<h1>@ViewData["Title"]</h1>

<p>
    <br>You got this error because your account
    <br>is marked as Human Resources.
    <br>Employees in Human Resources only
    <br>have view permission, meaning when you
    <br>try to change data, like editing another
    <br>employee account, you will get this error

</p>
